In [1]:
import pandas as pd
import numpy as np

In [21]:
df1 = pd.DataFrame(np.random.randint(1, 10, size=(2, 2)),
                   columns=list('ab'),
                   index=list('xy'))
df2 = pd.DataFrame(np.random.randint(1, 10, size=(2, 2)),
                   columns=list('ab'),
                   index=list('zt'))

In [12]:
df1

   a  b
x  6  5
y  9  5

In [13]:
df2

   a  b
z  3  6
t  7  4

In [23]:
pd.concat([df1, df2])

# concatener deux dataframe l'un en dessous de l'autre

   a  b
x  9  6
y  8  3
z  8  8
t  5  5

In [26]:
df1 = pd.DataFrame(np.random.randint(1, 10, size=(2, 2)),
                   columns=list('ab'),
                   index=list('xy'))
df2 = pd.DataFrame(np.random.randint(1, 10, size=(2, 2)),
                   columns=list('cd'),
                   index=list('xy'))

In [27]:
pd.concat([df1, df2], axis=1)

# ici on a concaten√© deux dataframe mais en abscice . parcontre on a modifier notre data frame de depart

   a  b  c  d
x  5  3  6  6
y  2  8  1  1