In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')  # le style ggplot est un paquege de R pour affiné les graphique

In [23]:
sns.get_dataset_names()

# dataframe proposé par la librairie seaborn

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [24]:
tips_df = sns.load_dataset('tips')
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [25]:
tips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [26]:
tips_df['tip'].mean()

# pourboire moyen (la moyenne)

2.9982786885245902

In [27]:
tips_df['tip'].median()

# pourboir median (la moyenne)

2.9

In [28]:
tips_df['tip'].min()

# pourboire minimun (le minimuù)

1.0

In [29]:
tips_df['tip'].max()

# pourboire maximum (le maximum)

10.0

In [30]:
tips_df['tip'].value_counts()

# Distribution de la fréquence de la variable "tip" : le nombre de fois que chaque valeur apparaît dans notre DataFrame.

2.00    33
3.00    23
4.00    12
5.00    10
2.50    10
        ..
4.34     1
1.56     1
5.20     1
2.60     1
1.75     1
Name: tip, Length: 123, dtype: int64

In [31]:
tips_df['time'].value_counts()

# distribution de la frequence de la variable 'time', le nombre de fois que chaque valeur apparaît dans notre DataFrame.

Dinner    176
Lunch      68
Name: time, dtype: int64

In [33]:
tips_df['time'].value_counts(normalize = 'true')

# lorsqu'on ajoute l'argument "normalize = true" permet d'afficher le pourcentage
# distribution de la frequence de la variable 'time

Dinner    0.721311
Lunch     0.278689
Name: time, dtype: float64

In [34]:
tips_df['tip'].max() - tips_df['tip'].min()

# Etendu de la variable "tip", est la plage de la valeur maximum moins la valeur minimum

9.0

In [35]:
tips_df['tip'].var()

# Variance de la variable "tip",

1.9144546380624725

In [36]:
tips_df['tip'].std()

# Écart-type de la variable "tip" : la méthode .std() permet de déterminer l'écart-type.

1.3836381890011826

In [38]:
tips_df['tip'].std() == (tips_df['tip'].var())**0.5

# Verifions que l'Ecart-type est bel et bien la racine carrée de la Variance. (l'Ecart-type est la racine de la variance)

True

In [39]:
tips_df.describe()

# la table de statistique descriptive ( tout le resumé statistique de ma data frame)

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [40]:
tips_df.describe(include = 'all')

# l'argument include = 'all' cette methode prend toutes variables

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [41]:
print('1er quartile:', tips_df['total_bill'].quantile(0.25))

print('2eme quartile:', tips_df['total_bill'].quantile(0.5))

print('3eme quartile:', tips_df['total_bill'].quantile(0.75))

# Qartiles de la variable 'total_bill' : la methode quantile(). permet de determiner le 1er, 2eme et 3eme Quartile

1er quartile: 13.3475
2eme quartile: 17.795
3eme quartile: 24.127499999999998

In [42]:
print('1er quartile:', np.quantile(tips_df['total_bill'], 0.25))

print('2eme quartile:', np.quantile(tips_df['total_bill'], 0.5))

print('3eme quartile:', np.quantile(tips_df['total_bill'], 0.75))

# Qartiles de la variable 'total_bill' : la fonction quantile() de Numpy. permet de determiner le 1er, 2eme et 3eme Quartile

1er quartile: 13.3475
2eme quartile: 17.795
3eme quartile: 24.127499999999998

In [43]:
print('1er quartile:', np.percentile(tips_df['total_bill'], 25))

print('2eme quartile:', np.percentile(tips_df['total_bill'], 50))

print('3eme quartile:', np.percentile(tips_df['total_bill'], 75))

# Qartiles de la variable 'total_bill' : la fonction percentile() de Numpy.toujour la meme chose 1er, 2eme et 3eme Quartile

1er quartile: 13.3475
2eme quartile: 17.795
3eme quartile: 24.127499999999998

In [44]:
np.quantile(tips_df['total_bill'], [0.25,0.50,0.75])

# Determiner tous les Quartiles en une seule ligne de code avec la fonction quantile()

array([13.3475, 17.795 , 24.1275])

In [45]:
np.quantile(tips_df['total_bill'], [0.2,0.4,0.6,0.8,1])

# On peut aussi calculer des Quintiles, soit des valeurs en poucentages de notre variable en plusieur pourcent

array([12.636, 16.222, 19.818, 26.098, 50.81 ])

In [46]:
tips_df['total_bill'].quantile(0.75) - tips_df['total_bill'].quantile(0.25)

# IQR ou la Game Inter-Quartile de la varible 'total_bill'.IQR permet de determiner le 3eme quartile moins le 1er quartile

10.779999999999998

In [47]:
from scipy import stats
stats.iqr(tips_df['total_bill'])

# Importation du module `stats`. La fonction `iqr` de `stats` (qui est un module de la librairie SciPy)
# permet de calculer l'Étendue Inter-Quartile (IQR) de la variable 'total_bill'. 
# On obtient le même résultat avec différentes méthodes.

10.779999999999998

In [49]:
tips_df.describe(include='all')

# table statistique descriptive incluant toutes la variable

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [54]:
sat_sun_df = tips_df[(tips_df.day == 'Sat') | (tips_df.day == 'Sun')]
sat_sun_df

# Dataframe des clients du samedi et du dimanche (filtration). une methode comme le """.loc"""

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[163 rows x 7 columns]

In [55]:
sat_sun_df.groupby('day')['total_bill'].agg(['mean','median'])

# Consommation moyenne et médiane des clients le samedi et le dimanche. (Total_bill représente l'addition du restaurant)

           mean  median
day
Thur        NaN     NaN
Fri         NaN     NaN
Sat   20.441379   18.24
Sun   21.410000   19.63